body{
    margin: 0;
    padding: 0;
}
.topnav{        
  color:#585858;
 background-color: #F68989;
 margin-top: -18px;
 height: 78px;
}
.topnav a{
float:right;
display:inline;
font-family:Comic Sans MS;
  display: block;
  color:#585858;
margin-top: 8px;  
  padding: 14px 16px;
text-decoration:none;
}
.link:hover{
color:white;
}
.topnav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;

}
.topnav .search-container{
    padding-top: 1%;
  display: flex;
  flex-direction: row;
   width: 100%;
  max-width: 31.25rem;
  margin: 1rem auto;

  }
#searchQueryInput {
  width: 100%;
  height: 2.8rem;
  background: #f5f5f5;
  outline: none;
  border: none;
  border-radius: 1.625rem;
  padding: 0 3.5rem 0 1.5rem;
  font-size: 1rem;
}

#searchQuerySubmit {
  width: 4.0rem;
  margin-left: -3.5rem;
  background: none;
  border: none;
  outline: none;
}

#searchQuerySubmit:hover {
  cursor: pointer;
}
.mySlides{
margin:1px 30px;
}
.bg{
background-repeat: no-repeat;
position: relative;
display:flex;
flex-direction: column;
padding-top: 100px;
}
.bg-text {
float:right;
color:#F68989;
border: 3px solid #a9a9a9 ;
position: absolute;
top:30%; 
left: 65%;
width: 30%;
padding: 20px;
transform:translate(-50%,-50%);
text-align: center;
font-family:Copperplate,Papyrus,fantasy;
}

#logo{
float:left;
font-family:Copperplate,Papyrus,fantasy;
text-decoration:none;
color:#585858; 
font-size: 30px;
}

#box{
display: none;
position: fixed;
overflow: auto;
z-index: 1;
width: 100%;
height: 100%;
left: 0;
top: 0;
background-color: rgb(0, 0, 0); 
background-color: rgba(0, 0, 0, 0.8);
}
#form input[type=text],input[type=password]{
  width: 90%;
padding: 12px 20px;
  margin: 8px 1px;
border: 3px solid #A9A9A9;
  box-sizing: border-box;
  font-family: 'Comic Sans MS';

}
  #form{
border-radius:5%;
    background-color: #fefefe;
  margin: 5% auto 15% auto; 
  border: 1px solid #fff;
  width: 30%;
  height: 55%;
  text-align: center;
}
#button,#regbutton{
    background-color:#F68989;
    border: none;
    color: white;
    width: 25%;
    font-family:Comic Sans MS;
    display: inline;
}

img.avatar{
  width: 25%;
  border-radius: 50%;
}
.imgcontainer{
    text-align: center;
     margin: 0px 0 12px 0;
  position: relative;
}
.feature-heading{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Comic Sans MS';
    
}

.feature-heading h2{
    font-size: 1rem;
    letter-spacing: 1px;
    color: #585858;
   background-color: #F68989; 
    text-transform: uppercase;
    font-weight: 60;
    margin-top: 40px;
    padding: 5px 30px;
   
}

.feature-box{
    width:155px;
    height: 160px;
    margin: 0px 20px;
    border-radius:100px;
    overflow: hidden;

}

.feature-box a img{
    width:100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.item span{
    font-size: 1rem;
    font-weight: 60;
    margin: 5px;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

 
}
.item:hover{

box-shadow: 2px 2px 30px rgba(0,0,1,0.5) 
}

#autoWidth{
    display: flex;
    justify-content: center !important;
    margin: 10px auto 40px auto;
}
.offers-heading{
    display:flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
}


.offers-heading strong{
    font-size: 1rem;
    letter-spacing: 1px;
    color: #585858;
    text-transform: uppercase;
    font-weight: 60;
    margin-top: 40px;
    padding: 5px 30px;
    border: 1px solid #e0e0e0;
    background-color: #F68989; 
   font-family: 'Comic Sans MS';
}


.offers-heading p{
    color: #808080;
    margin: 10px;
    font-size: 0.9rem;
}
.product-container{
    width:90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
}
.product-box{
    display: flex;
    flex-grow: 0.5;
    flex-direction: column;
    align-items: center;
    border: 1px solid #f7f7f7;
    border-radius: 10px;
    margin: 20px;
}
.product-img{
    width:200px;
    height: 210px;
    margin: 20px;
    cursor: pointer;
    position: relative;
}
.product-img img{
    width:100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}
.product-details{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
    border-top: 1px solid #f3f3f3;
}
.product-details a{
text-decoration:none;
}
.p-name{
    color: #727272;
}
.p-price{
    color: #333333;
    font-size: 1.2rem;
    font-weight: 400;
}
.product-box:hover{
    box-shadow: 2px 2px 30px rgba(0,0,1,0.5);
}
.add-cart{
    position: absolute;
    right: -20px;
    top: 10px;
    width:50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    background-color: #a9a9a9;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
    display: none;
    animation: fade 0.3s;
 
}
.add-cart:hover{
    background-color: #F68989;
    transition: all ease 0.2s;
}
.product-box:hover .add-cart{
    display: flex;
}
.new-arrival{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
     background-color: #F68989;
      font-size: 1rem;
    font-weight: 5;
    text-transform: capitalize;
    color:#585858 ;
    font-family: Comic Sans MS;
}

.footer-links{
 list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.footer-links li{
        margin: 0 10px;
}
.footer-links a{
     text-decoration: none;
    color: black;
    border: 1.5px solid black;
    padding: 5px;
    border-radius: 50%;
}
.footer-links a i{
font-size: 1.1rem;
    width: 20px;
transition: color .4s ease;
    
}
.footer-links a:hover i{
    color: white;
}
#submit{
    background-color: #A9A9A9;
    border: none;
    color: #585858;
}